@import url("https://fonts.googleapis.com/css2?family=Inika&family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@300&family=Lora&display=swap");

$fonts-headline: Inika, sans-serif;
$fonts-body:Inter, sans-serif;
$background-color: #daede2;
$primary: #20615b;
$accent1: #dbb906;
$accent2: #db7906;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #1a1831;
$text-light: #fff;
